<% include partials/header %>
<div class="container">
    <h1>Landing Page!</h1>
    <p>Yay, the landing Page</p>
    
    <button class="btn btn-primary btn-block">Find</button>
    <button class="btn btn-primary btn-block">Add Visit</button>
</div>
<% include partials/footer %>
