<% include partials/header %>
	<ul class="nav nav-pills nav-stacked">

	  <li><a href="/find"class="btn btn-lg btn-primary btn-block">Find things to do</a></li>

	  <li><a href="/add-visit" class="btn btn-lg btn-primary btn-block">Check in</a></li>

	  <li><a href="/leaderboard" class="btn btn-lg btn-primary btn-block">Leaderboard</a></li>

	</ul>
<% include partials/footer %>
