<% include partials/header %>
	<ul class="nav nav-pills nav-stacked">

	  <li><a href="/find"class="btn btn-lg btn-primary btn-block">Find things to do</a></li>

	  <li><a href="/add-visit" class="btn btn-lg btn-primary btn-block">Check in</a></li>

	  <li><a href="/leaderboard" class="btn btn-lg btn-primary btn-block">Leaderboard</a></li>

		<li><a href="/signup" class="btn btn-lg btn-primary btn-block">Sign up</a></li>

	</ul>

	<div id="landing-tbl" class="panel panel-default">
		<div class="title center">
			<h2>Top 3 Explorers in <%= header %></h2>
		</div>
		<table class="table">
		  <thead>
		    <tr>
		      <th>Rank</th>
		      <th>Name</th>
		      <th>Visits</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% for(var i = 0; i < leaders.length; i++) { %>
		    <tr>
		      <th scope="row"><%= i+1 %></th>
		      <td><%= leaders[i].first_name %></td>
		      <td><%= leaders[i].visits %></td>
		    </tr>
		    <% }%>
		  </tbody>
		</table>
	</div>
<% include partials/footer %>
