<% include partials/header %>
<div class="container">
	<div class="title">
		<h1>July Leaderboard</h1>
	</div>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Rank</th>
	      <th>Name</th>
	      <th>Visits</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% for(var i = 0; i < leaders.length; i++) { %>
	    <tr>
	      <th scope="row"><%= i+1 %></th>
	      <td><%= leaders[i].first_name %></td>
	      <td><%= leaders[i].visits %></td>
	    </tr>
	    <% }%>
	  </tbody>
	</table>
</div>
<% include partials/footer %>
