<% include partials/header %>
<div class="row main">
    <div class="panel-heading">
        <div class="panel-title text-center">
            <h2 class="title">Sign up</h1>
        </div>
    </div>
    <div id="serverMessage" class="alert alert-danger" role="alert">
	  <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
	  <span class="sr-only">Error:</span>
	</div> 
    <div class="main-login main-center">
        <form id="signupForm" class="form-horizontal" action="/signup" onsubmit="return myFunction() method="POST" >
            
            <div class="form-group">
                <label for="firstName" class="cols-sm-2 control-label">First Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="firstName" id="firstName"  placeholder="Enter your First Name"
                        required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="lastName" id="lastName"  placeholder="Enter your Last Name"
                        required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Sign up Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Enter Password"
                        required/>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
            </div>
            <div class="login-register">
                <a href="/">Login</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/javascript/signup.js"></script>

<% include partials/footer %>
