<% include partials/header %>
	
	<h2>What do you want to do?</h2>
	<ul class="nav nav-pills nav-stacked">
	  <li>
	  	<a id="play" href="/find/play"class="btn btn-lg btn-primary btn-block"><i class="fa fa-futbol-o" aria-hidden="true"></i>
	  	 Play</a>
	  </li>
	  <li>
	  	<a id="Eat" href="/find/eat" class="btn btn-lg btn-primary btn-block"><i class="fa fa-cutlery" aria-hidden="true"></i> Eat</a>
	  </li>
	  <li>
	  	<a id="Shop" href="/find/shop" class="btn btn-lg btn-primary btn-block"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a>
	  </li>
	  <li><a id="Other" href="/find/other" class="btn btn-lg btn-primary btn-block">Other</a></li>
	</ul>

<% include partials/footer %>
