<% include partials/header %>
	
	<h2>What do you want to do?</h2>
	<ul class="nav nav-pills nav-stacked">
	  <li><a href="#"class="btn btn-lg btn-primary btn-block">Play</a></li>
	  <li><a href="#" class="btn btn-lg btn-primary btn-block">Eat</a></li>
	  <li><a href="#" class="btn btn-lg btn-primary btn-block">Shop</a></li>
	  <li><a href="#" class="btn btn-lg btn-primary btn-block">Other</a></li>
	</ul>

<% include partials/footer %>
