.nav-pills > li > a {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1.5em;
	font-size: 2em;
}

.nav-pills > li > a:hover {
    background-color: #286eaa;
}

.nav-pills > li > a:visited {
    background-color: #286eaa;
}

.navbar-brand {
	font-size: 1em;
	padding-right: 2em;
}

.navbar {
	min-height: 3em;
/*	border-color: #00852D;*/
}

.navbar > .container-fluid {
	min-height: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.5em;
}

.list-group {
	padding-top: 1em; 
}

#description {
	color: #333333;
}

#landing-tbl {
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 2em;
}