<% include partials/header %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">Dashboard</h1>

    <div id="serverMessage" class="alert alert-danger" role="alert">
      <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
      <span class="sr-only">Error:</span>
    </div>

<div id="req-type">/admin/visits/all</div>
<h2 class="sub-header">Visits</h2>
<div class="table-responsive">
	<table id="mainTable" class="table table-striped">
	    <thead>
	    <tr>
	        <th class="id">#</th>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Visited Place</th>
	        <th>Visited On</th>
	    </tr>
	    </thead>
	    <tbody id="bodyTable">
	    <tr>

	    </tr>

	    </tbody>
	</table>
</div>
</div>
<% include partials/footer %>