<% include partials/header %>

<div id="req-type">/admin/places/all</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Explore! Admin Panel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin">Admin Home</a></li>
            <li><a href="/">Main Site</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
</nav>

<div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <h1 class="page-header">Dashboard</h1>


        <h2 class="sub-header">Users</h2>
        <div class="table-responsive">
        <table id="mainTable" class="table table-striped">
            <thead>
            <tr>
                <th class="id">#</th>
                <th>Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Description</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody id="bodyTable">
            <tr>

            </tr>

            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>

<% include partials/footer %>