<% include partials/header %>

    <div id="req-type">/admin/places/all</div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <h1 class="page-header">Dashboard</h1>


        <h2 class="sub-header">Users</h2>
        <div class="table-responsive">
        <table id="mainTable" class="table table-striped">
            <thead>
            <tr>
                <th class="id">#</th>
                <th>Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Description</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody id="bodyTable">
            <tr>

            </tr>

            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>

<% include partials/footer %>