<% include partials/header %>

<div class="container-fluid">
<div class="row">
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
    <li><a href="/admin/people">Users</a></li>
    <li><a href="/admin/places">Places</a></li>
    <li><a href="/admin/visits">Visits</a></li>
    </ul>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header"><%=name%></h1>

<h3>Sorry, no one has visited <span class="placeName"><%=name%></span> yet.</h3>
</div>

</body>
</html>
