<% include partials/header %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
        <li><a href="#">Home</span></a></li>
        <li><a href="/admin/stats">Stats</span></a></li>
        <li><a href="/admin/people">Users</a></li>
        <li class="active"><a href="/admin/places">Places</a></li>
        <li><a href="/admin/visits">Visits</a></li>
        <li><a href="#">Export and Backup</a></li>
        </ul>
    </div>
</div>
    <h1>Entry successfully edited.</h1>
    <a class="btn btn-primary" href="/admin/places">Go back to places</a> 
    </body>
</html>